.h5p-content {
    font-family: Arial;
    font-size: 16px;
    color: #003745 !important;
}

.h5p-answer {
     outline: none;
}

.h5p-true-false-answer,
.h5p-answer .h5p-alternative-container {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(218, 210, 186);
    border: 0.1em solid rgb(218, 210, 186);
    
    background: rgba(218, 210, 186, .2);
    border: 0.1em solid rgba(218, 210, 186, .2);
}

.h5p-answer .h5p-alternative-container:hover {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(218, 210, 186) !important;
    border: 0.1em solid rgb(218, 210, 186) !important;
    
    background: rgba(218, 210, 186, .4) !important;
    border: 0.1em solid rgba(218, 210, 186, .4) !important;
}

.h5p-multichoice .h5p-answer[aria-checked="true"] .h5p-alternative-container {
    background: #E4EAEB;
    border: 0.1em solid #E4EAEB;
}

.h5p-true-false-answer[aria-checked=true] {
    background: #E4EAEB !important;
    border-color: #E4EAEB !important;
}
.h5p-true-false-answer:focus {
    box-shadow: none
}

.h5p-answer.h5p-correct .h5p-alternative-container {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(146, 167, 54) !important;
    border: 0.1em solid rgb(146, 167, 54) !important;
    
    background: rgba(146, 167, 54, .2) !important;
    border: 0.1em solid rgba(146, 167, 54, .2) !important;
}

.h5p-answer.h5p-correct .h5p-alternative-container:hover {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(146, 167, 54) !important;
    border: 0.1em solid rgb(146, 167, 54) !important;
    
    background: rgba(146, 167, 54, .4) !important;
    border: 0.1em solid rgba(146, 167, 54, .4) !important;
}

.joubel-icon-tip-normal .h5p-icon-speech-bubble:before {
    color: #003745 !important;
}

.h5p-answer.h5p-correct .h5p-answer-icon:before {
    color: #92A736;
}

.h5p-image-hotspot-question .hotspot-feedback.correct {
    color: #92A736;
    background: #d9e4aa;
}

.sequencing-correct {
	border: 2px solid #92A736 !important;
}

.sequencing-incorrect {
	border: 2px solid #FF0000 !important;
}

.sequencing-item .sequencing-correct-mark{
    background-color: #92A736;
}

.h5p-answer.h5p-wrong .h5p-alternative-container {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(255, 0, 0);
    border: 0.1em solid rgb(255, 0, 0);
    
    background: rgb(255, 0, 0.2);
    border: 0.1em solid rgb(255, 0, 0.2);
}

.h5p-answer.h5p-wrong .h5p-alternative-container:hover {
    /* Fallback falls Browser rgba nicht unterstützt*/
    background: rgb(255, 0, 0) !important;
    border: 0.1em solid rgb(255, 0, 0) !important;
    
    background: rgb(255, 0, 0.4) !important;
    border: 0.1em solid rgb(255, 0, 0.4) !important;
}

.h5p-image-hotspot-question .hotspot-feedback {
    color: #FF0000;
    background: #FF8989;
}

.sequencing-item .sequencing-incorrect-mark{
    background-color: #FF0000;
}

.h5p-true-false-answer.correct:after {
    background: #92A736;
}

.h5p-true-false-answer.wrong:after {
    background: #FF0000;
}

.h5p-answer.h5p-wrong .h5p-answer-icon:before {
    color: #FF0000;
}

.sequencing-feedback-show button,
.h5p-image-sequencing-retry,
.h5p-question-buttons button,
.questionset-results button,
.sequencing-feedback-show button:focus,
.h5p-image-sequencing-retry:focus,
.h5p-question-buttons button:focus,
.questionset-results button:focus {
    background: #FF0000;
    outline: none;
}

.sequencing-feedback-show button:hover,
.h5p-image-sequencing-retry:hover,
.h5p-question-buttons button:hover,
.questionset-results button:hover,
.sequencing-feedback-show button:active,
.h5p-image-sequencing-retry:active,
.h5p-question-buttons button:active,
.questionset-results button:active {
    background: rgb(255, 0, 0) !important;
    background: rgb(255, 0, 0.6) !important;
    box-shadow: none !important;
}

.h5p-question-buttons .h5p-question-next,
.h5p-question-buttons .h5p-question-prev {
    background: #ffffff;
}

.h5p-question-buttons .h5p-question-next:before,
.h5p-question-buttons .h5p-question-prev:before {
    color: #FF0000;
}

.h5p-question-buttons .h5p-question-next:before:hover,
.h5p-question-buttons .h5p-question-prev:before:hover{
    color: rgb(255, 0, 0);
    color: rgb(255, 0, 0.6)
}

.h5p-question-buttons .h5p-question-next:hover,
.h5p-question-buttons .h5p-question-prev:hover,
.h5p-question-buttons .h5p-question-next:active,
.h5p-question-buttons .h5p-question-prev:active{
    background: #ffffff;
    box-shadow: none !important;
}

.sequencing-feedback-show .feedback-element,
.h5p-question-feedback-content-text {
    color: #003745;
}

.h5p-joubelui-score-bar-default-star,
.h5p-joubelui-score-bar-progress-wrapper{
    background: #CCC6C0;
    border-color: #CCC6C0;
}

.h5p-joubelui-score-bar-full-score-star,
.h5p-joubelui-score-bar-progress {
    background: #92A736;
}

.h5p-joubelui-score-bar-star-fill {
    fill: #CCC6C0;
}
.h5p-joubelui-score-bar-default-star:before,
.h5p-joubelui-score-bar-default-star:after {
    color: #9D958D;
}

.h5p-joubelui-score-bar-full-score-star:before,
.h5p-joubelui-score-bar-full-score-star:after {
    color: #FF0000 !important;
}

.h5p-joubelui-score-bar-full-score .h5p-joubelui-score-bar-star-fill,
.h5p-joubelui-score-bar-star-fill-full-score {
    fill: #FF0000;
}

.h5p-joubelui-score-bar-full-score .h5p-joubelui-score-bar-star-fill-full-score {
    visibility: hidden;
}

.h5p-joubelui-score-bar-full-score .h5p-joubelui-score-bar-star-border {
    stroke: #FF0000;
}

.qs-footer .dots-container .progress-item .progress-dot {
    background: #dad2bd;
}

.qs-footer .dots-container .progress-item .progress-dot.current{
    background: #877f78;
}